<!DOCTYPE html>

<html>

<head>

<h1 style="text-align: center;"> About Us </h1>

</head>

<body>


<p> We want to spread the news to you </p>

<img src="http://unsplash.com/photos/tPKQwYHy8q4/download" style="width: 1000px; height: 600px; " />   

<p> Just go to Sociata the parent of the Alpha blog, in Sociata you will find all type of social media and digital marketing news, you will learn what works and what doesn´t, feel free to navigate on thi blog and the move to Sociata </p>

<div style="background-color: red;" > 
<p style="color: white; text-align: center;"> ¿Want to go back at <strong> Home? </strong> </p>
<p style="text-align;" > <%=link_to'Click Here', root_path%>  </p> 




</body>



</html>

