<!DOCTYPE html>

<html>


<head>

<title> My first development </title>


<div style ="background-color: blue; ">
<h1 style="color: white; text-align: center;"> Hello World ! </h1>
<p style="color:white; text-align: center;"> This is the start of my first development </p>
</div>

</head>

<body>

<div style=""> 

<a href="www.socially.mx"> <img src="http://rubyonrails.org/images/rails-logo.svg" style="width: 250px; height: 250px; "/>  </a>
<img src="https://www.udemy.com/staticx/udemy/images/v5/logo-green.svg" style="margin-left: 70px; width: 250px; height: 250px; "  />

</div>

<p> This page is made by instructions from the Ruby on Rails Developer Course currently taking in Udemy, hope that with this I can make my own type of application </p>

<p> I have take 3 courses related to Web Development: </p>

<ul>
<li> Udemy Ruby on Rails </li>
<li> Coursera Ruby </li>
<li> Codecademy Ruby </li>
<li> Codecademy HTML </li>
</ul>


<%= link_to 'Alpha Blog', articles_path %>   



<table style="border: 3px solid black;">

<thead> 

<th colspan="3"> Some Cool Photos from Unsplashed </th>

</thead>


<tbody> 

<tr> 

<td> <img src="http://unsplash.com/photos/A9h6OsAxTyQ/download" style="width: 250px; height: 250px;" /> <div style="background-color: red; border: 2px solid #000000;"> <p style="color: white;"> This is the start. Click here to go to  <%=link_to'About Us', about_path%> </p>  </td> </div>

	<td> <img src="http://unsplash.com/photos/EurOau9Mx6s/download" style="width: 250px; height: 250px;" />  </td>

	<td> <img src="http://unsplash.com/photos/VVMLPhEGAc8/download" style="width: 250px; height: 250px;" />  </td>

</tr>

<tr>  

<td> <img src="http://unsplash.com/photos/P3pI6xzovu0/download" style="width: 250px; height: 250px;" /> </td>
	<td> <img src="http://unsplash.com/photos/b8rkmfxZjdU/download" style="width: 250px; height: 250px" />   </td>
	<td> <img src="http://unsplash.com/photos/IDTEXXXfS44/download" style="width: 250px; height: 250px;" />  </td>
</tr>

<tr>
<td> <img src="http://unsplash.com/photos/vvDiR_aH7Xo/download" style="width: 250px; height: 250px;" /> </td>
	<td> <img src="http://unsplash.com/photos/j4nBSqFf08U/download" style="width: 250px; height: 250px;" /> 
	<td> <img src="http://unsplash.com/photos/hVF_04fzKO4/download" style = "width: 250px;
	height: 250px;" /> </td>
 </tr>

     </tbody> 

</table>

</body>


</html>





