<div class="container" >
<footer class="footer" >
<small>
Copyright &copy; <a href="www.socially.mx"> Socially </a> 
by  Gabriel Garavit 
</small>
<nav>
<ul>
<li> <%= link_to "About", about_path %> </li>
</ul>

</nav>

</footer>
</div>
